{% extends 'base.html' %}
{% block title%}Página Home{% endblock %}

{% load static %}

{% block content %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% 'style.css' %}">
{% endblock %}

<div class="container" >
    <h1>Bem-vindo</h1>
    <hr>    
    <div class="row">
        {% for p in produto_list %}
            <div class="col-md-4">
                <div>
                <h4>{{p.titulo}}</h4>
                <img src="{{p.image.url}}" alt="" class="img-fluid" height="150px">
                
            <p class="mt-3">Preço: <strike>R$.{{p.preco_mercado}}</strike> R$.{{p.venda}}p>
            <a href="" class="btn-btn-success">Comprar</a>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{% endblock %}